@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Sono:wght@300;500&display=swap');

:root { 
    --main-color-dark: #059669;
    --main-color-basic: #34d399;
    --main-color-light: #a7f3d0;
    --strong-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    --light-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --layout-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --main-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*Global Configs*/
* {
    font-family: var(--main-font);
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
}
/*Full Layout Config*/
.App {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/*Header Configs*/
.header {
    color: white;
    background-color: var(--main-color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    grid-column: span 3;
    box-shadow: var(--layout-shadow);
}

.header form,
.header-right{
    display: flex;
    align-items: center;
    gap: 10px;    
}

.header form input {
    height: 36px;
    background-color: var(--main-color-light);
    border: none;
    padding: 3px;
    box-shadow: var(--light-shadow);
}

.header form input:focus {
    height: 36px;
    background-color: white;   
    outline: none;
}

.login-signup
 {
    color: white;
    border-bottom: 1px solid var(--main-color-light);
}
.logout-button {
    color: white;
}
.header-right > h3:hover,
.logout-button:hover {
    color: var(--main-color-light);
}


.header form button {
    position: relative;
    
    border: none;
    background-color: #a7f3d0;
    right: 35px;
}

.header form button:hover {
    transform: scale(1.1,1.1);
}

.header form button img {
    height: 33px;
    width: auto;
}


/*Sidebar Layout Config*/

.sidebar {
    background-color: var(--main-color-basic);
    position: sticky;
    top: 0;
    height: 100vh;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    
    color: white;
    grid-row: 2/4;
    padding: 10px;
    box-shadow: var(--layout-shadow);
}

.sidebar ul li {
    border-bottom: 1px solid white;
}
.sidebar h2 {
    color: white;
}

.sidebar h2:hover {
    color: var(--main-color-light);
}

.sidebar button {
    align-self: center;
    margin-top: 30%;
    background-color: var(--main-color-dark);
    color: white;
    font-size: 40px;
    padding: 5px;
    border: 1px solid white;
    box-shadow: var(--strong-shadow);
}

.sidebar button:hover {
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}

.sidebar button:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}

/*Description Layout Config*/

.description {
    grid-column: 3/4;
    margin: 10px;
    padding: 10px;
    background-color: var(--main-color-light);
    color: rgb(90, 90, 90);
    box-shadow: var(--layout-shadow);
    position: sticky;
    top: 0;
    height: fit-content;
}
.description h3 a {
    color: rgb(90, 90, 90);
    display: inline-block;
    transition: all ease-out 0.5s;
   
}
.description h3 a:hover {
    transform: scale(1.1,1.1);
}

/*Auth Modal Layout Config*/

.auth-modal {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    width: 50vw;
    top: calc(50% - 25vh);
    left: calc(50% - 25vw);
    border: 3px solid var(--main-color-light);
    background-color: white;
}

.auth-modal div {
    height: 100%;
    width: 100%;
    grid-row: 1 / 3;
    border-right: 3px solid var(--main-color-light);
    background-color: var(--main-color-dark);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-modal > * {
    align-self: center;
    justify-self: center;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-modal form button {
    align-self: flex-end;
    font-size: large;
    padding: 3px 5px 3px 5px;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;

}

.auth-modal form label {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#auth-modal-close {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;

}
/*NewBlock Layout Config*/

.new-block-modal {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    background-color: white;
    width: 40vw;
    top: 2%;
    left: calc(50% - 20vw);
    border: 3px solid var(--main-color-light);
    align-items: center;
    justify-items: center;
    background-color: white;
}

.new-block-modal img {
    height: 150px;
    width: auto;
    border-radius: 20px;
    padding-left: 0;
    
}
.new-block-modal textarea {
    grid-column: 2/3;
    resize: none;
    padding: 5px;
    max-width: 90%;
    
    
}

.new-block-modal form > button {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: flex-end;
    font-size: large;
    padding: 3px 5px 3px 5px;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}

#new-block-close-button {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}

/*profile layout config*/

.profile {
    display: flex;
    margin: 10px;
    padding: 10px;
    grid-column: 2/3;
    flex-direction: column;
    gap: 30px;
}

.profile-details {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr ;
    border: 3px solid var(--main-color-dark);
    padding: 10px;
}

.profile-details-left-section,
.profile-details-right-section{
    display: flex;
    flex-direction: column;
}

.profile-details-left-section button
 {
    
    align-self: center;
}

.profile-details-right-section > button {
    align-self: flex-end;
}

.profile-details-right-section button,
.profile-details-left-section button,
.profile-details-right-section div button
 {
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}
.profile-details-left-section {
        gap: 10px;    
        justify-self: center;
        align-self: center;
        padding: 10px;
}
.profile-details-right-section {
    padding: 10px;
}
.profile-details-left-section img {
    height: auto;
    max-height: 150px;
    width: 100%;
    border-radius: 20px;
    padding-left: 0;
}

.profile-details-right-section div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-details-right-section h3 {
    border-top: 1px solid var(--main-color-light);
}

.profile form {
    position: absolute;
    top: 2%;
    left: 40%;
    width: 20%;
    border: #a7f3d0 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
}
.profile form button:last-child {
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
    
}
.profile form button:first-child {
    align-self: flex-end;
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}
.profile-details-right-section button {
    margin-left: 5px;
}
/*Homepage Layout should probably reuse block for profile page*/

.homepage {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.blocks-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block {
    padding: 10px;
    border: 3px solid var(--main-color-dark);
    display: flex;
    flex-direction: column;
}

.block p {
    margin-top: 0;
    margin-left: 10px;
    display: block; /* or inline-block, at least its a block element */
    width: 100%; /* or width is certain by parent element */
    height: auto; /* height cannot be defined */
    word-break: break-all; /*  */
    word-wrap: break-word; /* if you want to cut the complete word */
    white-space: normal; 
    padding: 1px;
   
}

.block h4 {
    border-top: 2px solid var(--main-color-light);
    margin: 0;
}
.block h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
    width: fit-content;
}
.block h3:hover {
    color: var(--main-color-dark);
}
.sorting-buttons button {
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
    transition: all ease-out 0.5s;
}
.sorting-buttons {
    display: flex;
    gap: 20px;
}
.block h5 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.block button {
    padding: 3px 5px 3px 5px;
    font-size: small;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}

/*Follows Layout!*/
.follows {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
}

.profile-follows-list-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-follows-list-element button {
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
}


.follows > * > div  {
    margin-right: 20px;
    padding-left: 5px;
}

/*Extended Block Layout*/

.extended-block {
    grid-column: 2/3;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.comments-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extended-block form {
    margin-top: 5px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}
.extended-block form button {
    padding: 3px 5px 3px 5px;
    font-size: large;
    background-color: var(--main-color-dark);
    color: white;
    font-weight: 700;
    align-self: flex-end;
}

.extended-block textarea {
    resize: none;
}

/*fixer upper for the comment delete button*/
.comment button {
    align-self: flex-start;
}

